<h1>Tasks</h1>

<% @tasks.each do |task| %>
  <p>
    <% if task.completed %>
      <input type='checkbox' checked>
    <% else %>
      <input type='checkbox'>
    <% end %>

    <%= link_to task.name, task_path(task.id)%>
    <%= link_to "Edit", edit_task_path(task.id)  %>
    <%= link_to "Delete", task_path(task.id) %>
  </p>
<% end %>

<%= link_to 'Add a new task', new_task_path %>
